{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1 style="margin:10px">Games</h1>
    <div class="row">
        {% for game in games %}
            <div class="col" style="max-width: 20%;">
            <div class="card" style="width: 13rem; background-color: var(--color); margin: 20px; --color : {{game.color}}">
                <div class="card-body">
                    <img src="{{ game.img }}" class="card-img-top" alt="Picture of game">
                    <center>
                        <h5 class="card-title" style="color: black;"><b>{{ game.name }}</b></h5>
                        <p class="card-text" style="color: black;">Song Count: {{ game.song_count }}</p>
                        <a href="/{{ game.name }}" class="btn btn-primary" style="color: black; background-color: white; border-color: black;">See Songs</a>
                    </center>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>