{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1 style="margin: 10px;">{{ game_name }}</h1>
    <div class="row">
        {% for song in all_songs %}
            <div class="col">
            <div class="card" style="width: 18rem; background-color: var(--color); margin: 20px; --color : {{song.color}}">
                <div class="card-body">
                    <img src="{{ song.img }}" class="card-img-top" alt="Picture showing song location">
                    <center>
                        <h5 class="card-title" style="color: black;">{{ song.ost_index }}.  {{ song.name }}</h5>
                        <p class="card-text" style="color: black;">{{ song.description }}</p>
                    </center>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>